.cell {
   width: 30px;
   height: 30px;
   background-color: rgb(0, 182, 182);
   border: 1px solid rgb(0, 151, 151);
   border-radius: 5px;
   cursor: pointer;

   &.ship {
      background-color: gray;
   }
   &.enemyShip {
      background-color: rgb(0, 182, 182);
   }
   &.selected {
      background-color: yellow;
   }
   &.damaged {
      position: relative;

      &::after {
         content: '';
         border-radius: 16px;
         background-color: #ff0000;
         width: 15px;
         height: 15px;
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
      }
   }
   &.damagedShip {
      background-color: gray;
      position: relative;

      &::after {
         content: '';
         border-radius: 16px;
         background-color: #ff0000;
         width: 15px;
         height: 15px;
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
      }
   }
   &.destroyedShip {
      background-color: gray;
      position: relative;

      &::after {
         content: 'X';
         color: #ff0000;
         font-size: 25px;
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
      }
   }
}