.cell {
   width: 30px;
   height: 30px;
   background-color: rgb(0, 182, 182);
   border: 1px solid rgb(0, 151, 151);
   border-radius: 5px;
   cursor: pointer;

   &.selected {
      background-color: yellow;
   }
   &.damaged {
      background-color: #ff0000;
   }
}