.shipItem {
   display: flex;
   flex-direction: column;
   gap: 2.5px;

   .shipCell {
      width: 30px;
      height: 30px;
      background-color: #ccc;
      border: 1px solid rgb(0, 151, 151);
      border-radius: 5px;
   }
}