.fields {
   display: flex;
   justify-content: center;
   align-items: flex-start;
   gap: 60px;
   min-height: 600px;

   .infoBars {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      min-width: 0;
   }
}