.field {
   &Container {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;

      .filedUser {
         font-size: 25px;
      }
      .fieldRows {
         display: flex;
         justify-content: center;
         flex-direction: column;
         align-items: center;
         gap: 2.5px;

         .row {
            display: flex;
            gap: 2.5px;
         }
      }
   }
}