.container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;

   .turnInfo {
      font-size: 20px;
      font-weight: 700;
      color: #ff0000;

      &.player {
         color: green;
      }
   }
}

