.field {
   display: flex;
   flex-direction: column;
   gap: 15px;
   border: 1px solid #ccc;
   border-radius: 16px;
   text-align: center;
   width: 250px;
   padding: 25px;

   .shipTypeGroup {
      display: flex;
      flex-direction: column;
      gap: 10px;
   }
   .shipTypeShips {
      display: flex;
      gap: 15px;
   }
}