.itemContainer {
   display: flex;
   gap: 10px;
   background-color: rgb(0, 159, 180);
   border: 2px solid rgb(0, 140, 158);
   border-radius: 12px;
   padding: 15px;

   .button {
      border: 0;
      background-color: inherit;
      font-size: 20px;
      width: 18px;
      height: 18px;
      cursor: pointer;
   }
}